# Archivos de compilación
main
*.exe
*.out
*.o

# Logs (si los generas)
*.log

# Archivos temporales o de respaldo
*~
*.tmp
*.bak

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos ocultos de Code::Blocks o VSCode
*.depend
*.layout
*.cbp
*.user
.vscode/
